# ignore all
*

# white-list

# directory
!/**/

# C file
!*.c
!*.h

# C++ file
!*.cc
!*.cpp
!*.cxx
!*.hh
!*.hpp
!*.hxx

# python file
!*.py

# text file
!*.md
!.gitignore

# image file
!*.png

# config
!*_snippets.json

# re-ignore
.vscode
.cph
tempCodeRunnerFile.cpp
